@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  width: 100%;
  min-height: 100dvh;
}

body {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.dark {
  --background: 20, 21, 23;
  --backgroundOne: 30, 32, 34;
  --backgroundTwo: 33, 35, 37;
  --btnHoverBackground: 30, 32, 34;
  --fontColor: 150, 163, 175;
  --borderColor: 107, 114, 128;
  --borderColorOne: 255, 255, 255;
  --toggleBackground: 95, 98, 120;
  --deleteFontColor: 249 128 128;
  --selectedOrHoverColor: 118, 169, 250;
}

.modal {
  @apply outline-none;
}

.overlay {
  @apply fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 p-4;
}
